venv/
model/uploads/
model/RobertaForEmotionclassification.pt
model/T5_small_emotion.pt
model/T5_small_empathy.pt
view/node_modules/
**/*.pth
.vscode/
keys.txt
# Elastic Beanstalk Files
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml
